.bg-image {
    background-image: url('./Images/white_fur_background2.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
  }

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
  
head {
    background-color: #333;
    color: #fff;
    padding: 10px;
    justify-content: center;
}

h1 {
    font-style: oblique;
    font-size: 70px;
    display: flex;
    justify-content: center;

}

h2 { 
    font-size: 36px;
    justify-content: center;

}

p {
    justify-content: center;
    display: flex
}

 nav {
    font-family: Geneva;
    background-color: ;
    overflow: hidden;

}

/* Style the links inside the navigation bar */
nav a {
    float: right;
    color: hotpink;
    text-align: center;
    padding: 14px 16px; 
}

main {
    font-family: Georgia, serif;
    font-size: 18px;
    flex: 1;
    margin: 12px;
    border: 10px;
    padding: 10px;
    justify-content: center;
}

section { 
    text-align: center;
   
}
  
footer {
    color:rgb(0, 208, 255);
    font-size: 12px;
    padding: 10px;
}
  
main {
      flex: 2;
}
  
  /* Styles for mobile devices */
  @media (max-width: 767px) {
    .container {
      flex-direction: column;
    }
}
  
  /* Styles for desktop devices */
  @media (min-width: 768px) {
    .container {
      flex-direction: row;
    }
}